apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: crossplane
    repo: https://charts.crossplane.io/stable
    version: 1.18.0
    releaseName: crossplane
    namespace: crossplane-system
    valuesFile: values.yaml

resources:
  - namespaces.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: "-1"
