apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - crossplane-helm-generator.yaml

resources:
  - namespaces.yaml

commonAnnotations:
  argocd.argoproj.io/sync-wave: "-1"
