{{ $annotations := .observed.composite.resource.metadata.annotations -}}
---
apiVersion: kubernetes.crossplane.io/v1alpha2
kind: Object
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: ec
  name: managed-{{ .observed.composite.resource.metadata.name }}
spec:
  forProvider:
    manifest:
      apiVersion: ci.openshift.io/v1
      kind: EphemeralCluster
      metadata:
        annotations:
          "ephemeralcluster.ci.openshift.io/pr-event-headers": |
            {{ get $annotations "ephemeralcluster.ci.openshift.io/pr-event-headers" }}
          "ephemeralcluster.ci.openshift.io/pr-event-payload": |
            {{ get $annotations "ephemeralcluster.ci.openshift.io/pr-event-payload" }}
        name: {{ .observed.composite.resource.metadata.name }}
        namespace: ephemeral-cluster
      spec:
        ciOperator: {{ .observed.composite.resource.spec.ciOperator|toPrettyJson }}
{{- if hasKey .observed.composite.resource.spec "tearDownCluster" }}
        tearDownCluster: {{ .observed.composite.resource.spec.tearDownCluster }}
{{- end }}
  providerConfigRef:
    name: testplatform-kubernetes-provider-config
