---
{{ $status := .observed.resources.ec.resource.status.atProvider.manifest.status -}}
apiVersion: meta.gotemplating.fn.crossplane.io/v1alpha1
kind: CompositeConnectionDetails
{{ if or (eq $status nil) (eq $status.kubeconfig nil) -}}
data: {}
{{ else -}}
data:
  kubeconfig: {{ default (""|quote) ($status.kubeconfig|b64enc) }}
{{ end -}}
